<template>
    <div>
 

    <div>
      <router-link to="/">Home <span class="sr-only">(current)</span></router-link>
      <div v-if="isLoggedIn">
      <app-top-section></app-top-section>
      <router-link v-if="!isLoggedIn" to="/access/login/">login</router-link>
      <router-link v-if="!isLoggedIn" to="/access/register/">SignUp</router-link>
      <router-link v-if="isLoggedIn" to="/dashboard/home/">Dashboard</router-link>
      <router-link v-if="isLoggedIn" to="/profile/">Profile</router-link>
      <button v-if="isLoggedIn" class="nav-item nav-link btn btn-default" @click.prevent="logout">logout</button>
      </div>
    </div>

    </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'
import { logoutUrl, getHeaders } from '../../config'
import TopSection from './sections/top-section.vue'
export default {
    name: 'Header',
    components: {
        'app-top-section': TopSection,
    },

    data() {
        return {
            authUser: JSON.parse(localStorage.getItem('authUser')),
            isLoggedIn: false,
            isNeutral: false,
        }
    },

    created() {
        if(this.authUser && this.authUser.token) {
            this.isLoggedIn = true;
            this.isNeutral = true;
        }
        else {
            this.isLoggedIn = false;
            this.isNeutral = true;
        }
    },
    
    methods: {
        logout() {
            // send request to server
            axios.post(logoutUrl)
            .then(res => {
                console.log(res.data.detail);
                // remove user from state
                this.$store.dispatch('removeAuthUser');
                // clear local storage
                localStorage.removeItem('authUser');
                // redirect to home page
                this.$router.push({ name: 'login' });
            })
            .catch(err => {
                console.log(err.data)
            })
            // end server request
            
        },
        // end logout

    }, // end methods
computed: mapState({
      auth: state => state.auth,
    }),
}
</script>

<style>

</style>