<template>
  <div id="lost-view">
    <h1>Ooops!</h1>
    <h2>Page Not Found</h2>
    <router-link to="/" class="btn btn-info">Take me home.</router-link>
  </div>
</template>

<script>
export default {
  name: 'Lost',
};
</script>