<template>
<div>
    <div class="row container">
    <div class="col-md-6">
    <div class="card">
  <div class="card-header">
    <img :src="business.logoUrl"><h3 class="text-center"> {{business.name}}</h3> <br/>
  </div>
  <div class="card-body">
<ul class="list-group">
  <li class="list-group-item"><h5>Website</h5> {{business.websiteUrl}}</li>
  <li class="list-group-item"><h5>Voucher Length</h5> {{business.voucherLength}}</li>
</ul> <br/>
    <router-link to='/dashboard/home' class="btn btn-primary">View All Businesses</router-link>
  </div>
</div>
    </div>

<div class="col-md-6">
<ul class="list-group">
<li class="list-group-item active">Vouchers of {{business.name}}</li>
<li class="list-group-item" v-for="voucher in vouchers" :key="voucher.id">
    {{voucher.pin}} | {{voucher.value}} | {{voucher.created}} | {{voucher.used}}
</li>
</ul>
</div>

    </div>


<div class="row container">
    <div class="col-md-6 offset-md-3 mx-auto">
    <form>
        <h2>Update Business Unit</h2>
    <div class="form-group">
    <label for="name">Business Name</label>
    <input type="text" v-model="business.name" class="form-control" id="name">
    </div>

    <div class="form-group">
    <label for="websiteUrl">Website Url</label>
    <input type="url" v-model="business.websiteUrl" class="form-control" id="websiteUrl">
    </div>

    <div class="form-group">
    <label for="logoUrl">Logo Url</label>
    <input type="url" v-model="business.logoUrl" class="form-control" id="logoUrl">
    </div>

    <div class="form-group">
    <label for="voucherLength">Voucher Length</label>
    <input type="number" v-model="business.voucherLength" class="form-control" id="voucherLength">
    </div>

    <button type="button" class="btn btn-primary" @click="updateBusinessUnit">Update</button>
    </form>
    </div>
    </div>

    <div class="row container">
    <div class="col-md-3">
    <button type="button" @click.prevent="deleteBusiness" class="btn btn-danger">Delete {{business.name}}</button>
    </div>
    </div>
    <br/> <br/>
</div>
</template>

<script>
import mapState from 'vuex'
import axios from 'axios'
import { businessUnitsUrl, getHeaders, vouchersUrl } from '../../config'

export default {
    name: 'BusinessDashboard',

    data() {
        return {
            msg: 'Home Page now Loading .....',
            businessId: this.$route.params.id,
            vouchers: [],
            business: {
                name: null,
                logoUrl: null,
                websiteUrl: null,
                voucherLength: null,
            },
        }
    },

    created() {
        // request for all businesses by user instance
        axios.get(businessUnitsUrl + this.businessId + '/', { headers: getHeaders() })
        .then(res => {
            this.business.name = res.data.name;
            this.business.logoUrl = res.data.logo_url;
            this.business.websiteUrl = res.data.website_url;
            this.business.voucherLength = res.data.voucher_length;

            // request business vouchers
            axios.post(vouchersUrl, { business_unit: this.businessId }, { headers: getHeaders() })
            .then(res => {
                this.vouchers = res.data;
                console.log(res.data)
            })
            .catch(err => {
                console.log(err.data)
            })
            // end request business vouchers
        })
        .catch(err => {
            console.log(err.data)
        })
    },

    methods: {
        // update
        updateBusinessUnit() {
            // get user instance
            const authUser = JSON.parse(localStorage.getItem('authUser'))
            // business data
            const businessUnitPayload = {
                merchant: authUser.id,
                name: this.business.name,
                website_url: this.business.websiteUrl,
                logo_url: this.business.logoUrl,
                voucher_length: this.business.voucherLength
            };

            // send update business request
            axios.patch(businessUnitsUrl + this.businessId + '/', businessUnitPayload, { headers: getHeaders() })
            .then(res => {
                this.business.name = res.data.name;
                this.business.websiteUrl = res.data.website_url;
                this.business.logoUrl = res.data.logo_url;
                this.business.voucherLength = res.data.voucher_length;
                this.$router.push({name: 'dashboard-home'});
            })
            .catch(err => {
                console.log(err.data)
            })
            // end update business request
        },
        // end update

        // delete
        deleteBusiness() {
            // send delet business request
            axios.delete(businessUnitsUrl + this.businessId + '/', { headers: getHeaders() })
            .then(res => {
                this.$router.push({name: 'dashboard-home'});
            })
            .catch(err => {
                alert('Error Occurred, Try Again');
            })
        }
    }
    
}
</script>

<style lang="scss">

</style>

