<template>
<div>
    <div class="row container">
    <div class="col-md-6 mx-auto">    
    <ul class="list-group">
        <li class="list-group-item active"><h3>All Business Units</h3></li>
        <li v-for="business in businesses" :key="business.id" class="list-group-item">
            <router-link :to="'/dashboard/businesses/' + business.id">{{business.name}}</router-link>
        </li> <br/>
    </ul>
    </div>
    
    <div class="col-md-6 mx-auto">
    <form>
        <h2>Add Business Unit</h2>
    <div>
    <ul v-if="errorLog && errorLog.length">
    <li v-for="error in errorLog" :key="error" class="alert alert-danger">
    {{ error.message }}
    </li>
    </ul>
    </div>

    <div class="form-group">
    <label for="name">Business Name</label>
    <input type="text" v-model="name" class="form-control" id="name">
    </div>

    <div class="form-group">
    <label for="websiteUrl">Website Url</label>
    <input type="url" v-model="websiteUrl" class="form-control" id="websiteUrl">
    </div>

    <div class="form-group">
    <label for="logoUrl">Logo Url</label>
    <input type="url" v-model="logoUrl" class="form-control" id="logoUrl">
    </div>

    <div class="form-group">
    <label for="voucherLength">Voucher Length</label>
    <input type="number" v-model="voucherLength" class="form-control" id="voucherLength">
    </div>

    <button type="button" class="btn btn-primary" @click.prevent="createBusinessUnit">Submit</button>
    <br/> <br/>
    </form>
    </div>

    </div>
</div>
</template>

<script>
import Header from '../layouts/header.vue'
import mapState from 'vuex'
import axios from 'axios'
import { businessUnitsUrl, getHeaders } from '../../config'

export default {
    name: 'DashboardHome',
    components: {
        'app-header': Header,
    },

    data() {
        return {
            msg: 'Home Page now Loading .....',
            errorLog: [],
            businesses: [],
            name: null,
            websiteUrl: null,
            logoUrl: null,
            voucherLength: null,
        }
    },

    created() {
        // request for all businesses by user instance
        axios.get(businessUnitsUrl, { headers: getHeaders() })
        .then(res => {
            this.businesses = res.data
        })
        .catch(err => {
            console.log(err.data)
        })
        // end request
    },

    methods: {
        createBusinessUnit() {
            // get user instance
            const authUser = JSON.parse(localStorage.getItem('authUser'))
            // business data
            let businessUnitPayload = {
                merchant: authUser.id,
                name: this.name,
                website_url: this.websiteUrl,
                logo_url: this.logoUrl,
                voucher_length: this.voucherLength
            };

            // send business request
            axios.post(businessUnitsUrl, businessUnitPayload, { headers: getHeaders() })
            .then(res => {
                businessUnitPayload.id = res.data.id;
                this.name = '';
                this.websiteUrl = '';
                this.logoUrl = '';
                this.voucherLength = '';
                this.businesses.splice(0, 0, businessUnitPayload);
            })
            .catch(err => {
                console.log(err.data)
            })
            // end business request
        }
    }
    
}
</script>

<style lang="scss">
.container {
    padding-top: 30px;
}
</style>

