<template>
    <div>
      <router-link to="/">{{name}} | {{src}} <span class="sr-only">(current)</span></router-link>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'
import { logoutUrl, getHeaders } from '../../../config'

export default {
    name: 'TopSection',

    props: [
        'user-nav-data',
        'source',
    ],

    data() {
        return {
        name: "Top Name",
        src: "/path/to/something/"
        }
    },

    created() {
        
    },
    
    methods: {
    changeSrc() {
        this.$emit('change-src', 'new-path');
    }
    }, // end methods

} // end script component
</script>

<style>

</style>