<template>
<div>
    <div class="row">
    <div class="col-md-6 md-offset-3 mx-auto">
    <h1 class="text-center text-success">Registration Success!!</h1>
    <h4 class="text-center text-info">A Verification Email has been sent to your Email. <br/> <br/>
    Please follow the link sent with the email to activate your account.
    </h4>
    </div>
    </div>
</div>
</template>

<script>
import mapState from 'vuex'

export default {
    name: 'ConfirmRegistration',

    data() {
        return {
           
        }
    },
    
}
</script>

<style lang="scss">

</style>

