<template>
<div>
    <div class="row container">
    <form class="col-md-6 md-offset-3 mx-auto">
    <h1 class="text-center">Account Login</h1>
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" v-model="username" class="form-control" id="username">
    </div>

    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" v-model="email" class="form-control" id="email">
    </div>

    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" v-model="password" class="form-control" id="password">
    </div>

    <button type="button" @click.prevent="login" class="btn btn-primary">Login</button>
    <br/> <br/>
    Don't have an account? <router-link to="/access/register">SignUP</router-link>
    <br/>
    <router-link to="/access/password-reset">Forgotten Password</router-link>
    </form>
    </div>
</div>
</template>

<script>
import mapState from 'vuex'
import axios from 'axios'
import { loginUrl, userUrl, getHeaders } from '../../config'

export default {
    name: 'Login',

    data() {
        return {
            username: null,
            password: null,
            email: null,

        }
    },
    
    methods: {
        login() {
            const loginPayload = {
                username: this.username,
                email: this.email,
                password: this.password
            };
            
            let authUser = {};

            // send payload to login endpoint
            axios.post(loginUrl, loginPayload)
            .then(res => {
                authUser.token = res.data.token;
                localStorage.setItem('authUser', JSON.stringify(authUser));

                // store the user instance
                axios.get(userUrl, { headers: getHeaders() })
                .then(res => {
                    authUser.id = res.data.pk;
                    authUser.username = res.data.username;
                    authUser.email = res.data.email;
                    authUser.firstName = res.data.first_name;
                    authUser.lastName = res.data.last_name;
                    localStorage.setItem('authUser', JSON.stringify(authUser));

                    // store user into local state
                    this.$store.dispatch('setAuthUser', authUser);
                })
                .catch(err => {
                    console.log(err.data)
                })
                // end storing user instance

                // redirect to home dashboard home page
                this.$router.push({name: 'dashboard-home'})
            })
            .catch(err => {
                this.password = '';
                console.log(err.data);
            })

        }
    }
}
</script>

<style lang="scss">

</style>

