<template>
<div>
</div>
</template>

<script>
import mapState from 'vuex'
import axios from 'axios'
import { logoutUrl, userUrl, getHeaders } from '../../config'

export default {
    name: 'Logout',

    data() {
        return {
            errors: [],
        }
    },
    
    methods: {
        created() {
            // send request to server
            axios.post(logoutUrl)
            .then(res => {
                console.log(res.data)
                // remove user from state
                this.$store.dispatch('removeAuthUser');
                // clear local storage
                localStorage.removeItem('authUser');
                this.$router.push({path: 'home'})
            })
            .catch(err => {
                console.log(err.data)
            })
            // end server request
            
        }
    }
}
</script>

<style lang="scss">

</style>

