<template>
<div>
    <div class="row">
    <div class="col-md-6 md-offset-3 mx-auto">
    <form>
    <h1 class="text-center text-success">Recover Password</h1>
    <div class="form-group">
        <label for="email">Account Email</label>
        <input type="email" class="form-control" id="email" v-model="email" placeholder="account email">
    </div>
    <button type="button" class="btn btn-primary" @click.prevent="sendPasswordResetEmail">Submit</button>
    </form>
    </div>
    </div>
</div>
</template>

<script>
import mapState from 'vuex'
import axios from 'axios'
import { passwordResetUrl } from '../../config'

export default {
    name: 'PasswordResetEmail',

    data() {
        return {
           email: null,
        }
    },
    
    methods: {
    sendPasswordResetEmail() {
        // send validation key
        axios.post(passwordResetUrl, { email: this.email })
        .then(res => {
            console.log(res.data)
            this.$router.push({name: 'password-reset-email-sent'})
        })
        .catch(err => {
            alert('Error Occurred, Try Again.')
        })
    }
    },
    
}
</script>

<style lang="scss">

</style>

