<template>
<div>
    <div class="row">
    <div class="col-md-6 md-offset-3 mx-auto">
    <h1 class="text-center text-success">A Recovery Link has been sent to your Email.</h1>
    <br/><h2 class="text-center text-info">Click the link from your email to reset a new password.</h2>
    </div>
    </div>
</div>
</template>

<script>
import mapState from 'vuex'

export default {
    name: 'PasswordResetEmailConfirm',

    data() {
        return {
           
        }
    },
    
}
</script>

<style lang="scss">

</style>

