<template>
<div>
    <div class="row">
    <div class="col-md-6 md-offset-3 mx-auto">
    <form>
    <h1 class="text-center text-success">Reset Password</h1>
    <div class="form-group">
        <label for="newPassword1">New Password</label>
        <input type="password" class="form-control" id="newPassword1" v-model="newPassword1" placeholder="password">
    </div>

    <div class="form-group">
        <label for="newPassword2">Confirm New Password</label>
        <input type="password" class="form-control" id="newPassword2" v-model="newPassword2" placeholder="confirm password">
    </div>

    <button type="button" class="btn btn-primary" @click.prevent="passwordResetConfirm">Reset</button>
    </form>
    </div>
    </div>
</div>
</template>

<script>
import mapState from 'vuex'
import axios from 'axios'
import { passwordResetConfirmUrl } from '../../config'

export default {
    name: 'PasswordResetConfirm',

    data() {
        return {
           uid: this.$route.params.uid,
           token: this.$route.params.token,
           newPassword1: null,
           newPassword2: null,
        }
    },
    
    methods: {
    passwordResetConfirm() {
        const passwordResetPayload = {
            uid: this.uid,
            token: this.token,
            new_password1: this.newPassword1,
            new_password2: this.newPassword2
        };
        // send validation key
        axios.post(passwordResetConfirmUrl, passwordResetPayload)
        .then(res => {
            console.log(res.data)
            alert('Your password has been reset.')
            this.$router.push({name: 'login'})
        })
        .catch(err => {
            alert('Error Occurred' + err.data + ', Try Again.')
            this.newPassword1 = '';
            this.newPassword2 = '';
        })
    }
    },

    created() {
        console.log('uid' + this.uid + ' token' + this.token)
    }
    
}
</script>

<style lang="scss">

</style>

