<template>
<div>
    <div class="row container">
    <form class="col-md-6 md-offset-3 mx-auto">
    <h1 class="text-center">Account Sign Up</h1>
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" v-model="username" class="form-control" id="username">
    </div>

    <div class="form-group">
    <label for="firstName">first name</label>
    <input type="text" v-model="firstName" class="form-control" id="firstName">
    </div>

     <div class="form-group">
    <label for="lastName">last name</label>
    <input type="text" v-model="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" v-model="email" class="form-control" id="email">
    </div>

    <div class="form-group">
    <label for="country">Country</label>
    <select v-model="country" id="country" class="form-control">
        <option v-for="country in countries" :key="country.id" :value="country.id">
            {{country.name}} | {{country.currency}}
        </option>
    </select>
    </div>

    <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" v-model="password1" class="form-control" id="password1">
    </div>

    <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input type="password" v-model="password2" class="form-control" id="password2">
    </div>

    <button type="button" @click.prevent="register" class="btn btn-primary">Join Us</button>
    <br/> <br/>
    Already have an account? <router-link to="/access/login">Login</router-link>
    </form>
    </div>
</div>
</template>

<script>
import mapState from 'vuex'
import axios from 'axios'
import { registerUrl, countriesUrl } from '../../config'

export default {
    name: 'Register',

    data() {
        return {
            username: null,
            firstName: null,
            lastName: null,
            email: null,
            password1: null,
            password2: null,
            country: null,

            countries: [],
            errors: [],
        }
    },

    created() {
        // request for all countries
        axios.get(countriesUrl)
        .then(res => {
            this.countries = res.data
        })
        .catch(err => {
            console.log(err.data)
        })
    },
    
    methods: {
        register() {
            // set register payload
            const registerPayload = {
                username: this.username,
                first_name: this.firstName,
                last_name: this.lastName,
                email: this.email,
                country: this.country,
                password1: this.password1,
                password2: this.password2
            };
            
            // send payload to register endpoint
            axios.post(registerUrl, registerPayload)
            .then(res => {
                console.log(res.data.detail)

                // redirect to home dashboard home page
                this.$router.push({name: 'confirm-registration'})
            })
            .catch(err => {
                this.password1 = '';
                this.password2 = '';
                console.log(err.data);
            })

        }
    }
}
</script>

<style lang="scss">

</style>

