<template>
    <div>
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <br/>
<div class="card">
  <div class="card-header">
    <h3 class="text-center">User Profile</h3> <br/>
  </div>
  <div class="card-body">
<ul class="list-group">
  <li class="list-group-item"><h5>Username</h5> {{username}}</li>
  <li class="list-group-item"><h5>Email</h5> {{email}}</li>
  <li class="list-group-item"><h5>First Name</h5> {{firstName}}</li>
  <li class="list-group-item"><h5>Last Name</h5> {{lastName}}</li>
  <li class="list-group-item"><h5>Phone</h5> {{phone}}</li>
  <li class="list-group-item"><h5>Country</h5> {{country.name}}</li>
  <!-- <li class="list-group-item">{{}}</li> -->
</ul> <br/>
    <router-link to='/profile/update' class="btn btn-primary">Update</router-link>
  </div>
</div>
        </div>
      </div>
    </div>

    <hr>
    </div>
</template>

<script>
import axios from 'axios'
import { customUsersUrl, getHeaders} from '../../config';
export default {
    name: 'ShowUser',

    data() {
        return {
            username: null,
            email: null,
            id: null,
            firstName: null,
            lastName: null,
            phone: null,
            country: null,
        }
    },

    created() {
            const authUser = JSON.parse(localStorage.getItem('authUser'))
            axios.get(customUsersUrl + authUser.id + '/', { headers: getHeaders() })
            .then(res => {
                this.username = res.data.username;
                this.firstName = res.data.first_name;
                this.lastName = res.data.last_name;
                this.email = res.data.email;
                this.phone = res.data.phone;
                this.id = res.data.id;
                this.country = res.data.country;
            })
            .catch(err => {
                console.log(err.data)
            })
    }
}
</script>

<style>
.card {
    margin-top: 50px;
}
</style>
