<template>
    <div>
<component :is="component"></component>
    </div>
</template>

<script>
import { Login } from './login.vue'
import { Register } from './register.vue'

export default {
    components: {
        'signIn': Login,
        'signUp': Register,
    },

    data() {
        return {
            component: 'signIn',
        }
    }
}
</script>
