<template>
    <div>
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <br/>
          <h1 class="text-center">Update Profile</h1> <br/>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="username">Username</label>
                <input type="text" v-model="username" class="form-control" placeholder="Username" id="username" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="email">Email</label>
                <input type="email" v-model="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your Email.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="firstName">First Name</label>
                <input type="text" v-model="firstName" class="form-control" placeholder="first name" id="firstName" required data-validation-required-message="Please enter your first name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="lastName">Last Name</label>
                <input type="text" v-model="lastName" class="form-control" placeholder="last name" id="lastName" required data-validation-required-message="Please enter your last name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

             <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="phone">Phone</label>
                <input type="tel" v-model="phone" class="form-control" placeholder="phone number" id="phone" required data-validation-required-message="Please enter your phone.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="form-group">
            <label for="country">Country</label>
            <select v-model="countryObj" class="form-control" id="country">
            <option v-for="country in countries" :key="country.id" :value="country.id">
              {{country.name}} | {{country.currency}}
            </option>
            </select>
            </div>

            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="button" @click.prevent="updateUser" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div>
            <hr>
            <router-link to="/profile">View Profile</router-link> <br/>
           
          </form>
        </div>
      </div>
    </div>

    <hr>
    </div>
</template>

<script>
import axios from 'axios'
import { customUsersUrl, countriesUrl, getHeaders } from '../../config';
export default {
    name: 'UpdateUser',

    data() {
        return {
            userData: [],
            countries: [],
            username: null,
            email: null,
            firstName: null,
            lastName: null,
            phone: null,
            id: null,
            countryObj: null,
        }
    },

    created() { 
        const authUser = JSON.parse(localStorage.getItem('authUser'))

        axios.get(customUsersUrl + authUser.id + '/', { headers: getHeaders() })
        .then(res => {
            this.username = res.data.username;
            this.email = res.data.email;
            this.firstName = res.data.first_name;
            this.lastName = res.data.last_name;
            this.phone = res.data.phone;
            this.id = res.data.id;
            this.countryObj = res.data.country;
            
            // request for countries
            axios.get(countriesUrl, {headers: getHeaders()})
            .then(res => {
                this.countries = res.data;
            })
            .catch(err => {
                console.log(err.data)
            })
            // end request
        })
        .catch(err => {
            console.log(err.data)
        })
    },

    methods: {
        updateUser() {
            const userObject = {
                username: this.username,
                email: this.email,
                first_name: this.firstName,
                last_name: this.lastName,
                phone: this.phone,
                country: this.countryObj.id
            }

            axios.put(customUsersUrl + this.id + '/', userObject, { headers: getHeaders() })
            .then(res => {
                console.log('success')
                this.$router.push({name: 'showUser'})
            })
            .catch(err => {
                console.log(err.data)
            })
        }, 
        // end update request
    },
}
</script>

<style>

</style>
