<template>
<div>
    <div class="row">
    <div class="col-md-6 md-offset-3 mx-auto">
    <h1 class="text-center text-success">Activation Success!!</h1>
    <router-link to="/access/login" class="text-center text-info">Login</router-link><br/>
    </div>
    </div>
</div>
</template>

<script>
import mapState from 'vuex'
import axios from 'axios'
import { verifyAccountUrl } from '../../config'

export default {
    name: 'ValidateAccount',

    data() {
        return {
           key: this.$route.params.key,
        }
    },

    created() {
        // send validation key
        axios.post(verifyAccountUrl, { key: this.key })
        .then(res => {
            console.log(res.data)
        })
        .catch(err => {
            alert('Error Occurred, Try Again.')
        })
    }
    
}
</script>

<style lang="scss">

</style>

